# Populating our tables
We start with the strong entities - Team, QB and Location then weak, Game, then weakest Gamestats

In [1]:
import sqlite3
import pandas as pd
import sqlalchemy 
%load_ext sql

%sql sqlite:///football.db

'Connected: None@football.db'

In [14]:
%%sql
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (1, 'Buffalo Bills', 'AFC', 'East');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (2, 'Miami Dolphins', 'AFC', 'East');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (3, 'New England Patriots', 'AFC', 'East');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (4, 'New York Jets', 'AFC', 'East');

INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (5, 'Dallas Cowboys', 'NFC', 'East');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (6, 'New York Giants', 'NFC', 'East');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (7, 'Philadelphia Eagles', 'NFC', 'East');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (8, 'Washington Redskins', 'NFC', 'East');

INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (9, 'Baltimore Ravens', 'AFC', 'North');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (10, 'Cincinnati Bengals', 'AFC', 'North');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (11, 'Cleveland Browns', 'AFC', 'North');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (12, 'Pittsburgh Steelers', 'AFC', 'North');

INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (13, 'Chicago Bears', 'NFC', 'North');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (14, 'Detroit Lions', 'NFC', 'North');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (15, 'Green Bay Packers', 'NFC', 'North');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (16, 'Minnesota Vikings', 'NFC', 'North');

INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (17, 'Houston Texans', 'AFC', 'South');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (18, 'Indianapolis Colts', 'AFC', 'South');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (19, 'Jacksonville Jaguars', 'AFC', 'South');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (20, 'Tennessee Titans', 'AFC', 'South');

INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (21, 'Atlanta Falcons', 'NFC', 'South');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (22, 'Carolina Panthers', 'NFC', 'South');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (23, 'New Orleans Saints', 'NFC', 'South');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (24, 'Tampa Bay Buccaneers', 'NFC', 'South');

INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (25, 'Denver Broncos', 'AFC', 'West');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (26, 'Kansas City Chiefs', 'AFC', 'West');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (27, 'Los Angeles Chargers', 'AFC', 'West');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (28, 'Oakland Raiders', 'AFC', 'West');

INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (29, 'Arizona Cardinals', 'NFC', 'West');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (30, 'Los Angeles Rams', 'NFC', 'West');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (31, 'San Francisco 49ers', 'NFC', 'West');
INSERT INTO Teams (TID, TeamName,  Conference, Division ) VALUES (32, 'Seattle Seahawks', 'NFC', 'West');

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [15]:
%%sql
INSERT INTO Locations (SID, Stadium, City) VALUES (1, 'University of Phoenix Stadium', 'Glendale');
INSERT INTO Locations (SID, Stadium, City) VALUES (2, 'Georgia Dome', 'Atlanta');
INSERT INTO Locations (SID, Stadium, City) VALUES (3, 'M&T Bank Stadium', 'Baltimore');
INSERT INTO Locations (SID, Stadium, City) VALUES (4, 'New Era Field', 'Buffalo');
INSERT INTO Locations (SID, Stadium, City) VALUES (5, 'Bank of America Stadium', 'Charlotte');
INSERT INTO Locations (SID, Stadium, City) VALUES (6, 'Soldier Field', 'Chicago');
INSERT INTO Locations (SID, Stadium, City) VALUES (7, 'FirstEnergy Stadium', 'Cleveland');
INSERT INTO Locations (SID, Stadium, City) VALUES (8, 'AT&T Stadium', 'Arlington');
INSERT INTO Locations (SID, Stadium, City) VALUES (9, 'Sports Authority Field at Mile High', 'Denver');
INSERT INTO Locations (SID, Stadium, City) VALUES (10, 'Ford Field', 'Denver');
INSERT INTO Locations (SID, Stadium, City) VALUES (11, 'NRG Stadium', 'Houston');
INSERT INTO Locations (SID, Stadium, City) VALUES (12, 'Lucas Oil Stadium', 'Indianapolis');
INSERT INTO Locations (SID, Stadium, City) VALUES (13, 'EverBank Field', 'Jacksonville');
INSERT INTO Locations (SID, Stadium, City) VALUES (14, 'Arrowhead Stadium', 'Kansas City');
INSERT INTO Locations (SID, Stadium, City) VALUES (15, 'Los Angeles Memorial Coliseum', 'Los Angeles');
INSERT INTO Locations (SID, Stadium, City) VALUES (16, 'U.S. Bank Stadium', 'Minneapolis');
INSERT INTO Locations (SID, Stadium, City) VALUES (17, 'Gillette Stadium', 'Foxboro');
INSERT INTO Locations (SID, Stadium, City) VALUES (18, 'Mercedes-Benz Superdome', 'New Orleans');
INSERT INTO Locations (SID, Stadium, City) VALUES (19, 'MetLife Stadium', 'East Rutherford');
INSERT INTO Locations (SID, Stadium, City) VALUES (20, 'Oakland Coliseum', 'Oakland');
INSERT INTO Locations (SID, Stadium, City) VALUES (21, 'Lincoln Financial Field', 'Philadelpia');
INSERT INTO Locations (SID, Stadium, City) VALUES (22, 'Heinz Field', 'Pittsburgh');
INSERT INTO Locations (SID, Stadium, City) VALUES (23, 'SDCCU Stadium', 'San Diego');
INSERT INTO Locations (SID, Stadium, City) VALUES (24, 'Levis Stadium', 'Santa Clara');
INSERT INTO Locations (SID, Stadium, City) VALUES (25, 'CenturyLink Field', 'Seattle');
INSERT INTO Locations (SID, Stadium, City) VALUES (26, 'Nissan Stadium', 'Nashville');
INSERT INTO Locations (SID, Stadium, City) VALUES (27, 'FedEx Field', 'Landover');
INSERT INTO Locations (SID, Stadium, City) VALUES (28, 'Hard Rock Stadium', 'Miami');
INSERT INTO Locations (SID, Stadium, City) VALUES (29, 'Lambeau Field', 'Green Bay');
INSERT INTO Locations (SID, Stadium, City) VALUES (30, 'Mercedes-Benz Stadium', 'Atlanta');
INSERT INTO Locations (SID, Stadium, City) VALUES (31, 'Paul Brown Stadium', 'Cincinnati');
INSERT INTO Locations (SID, Stadium, City) VALUES (32, 'Raymond James Stadium', 'Tampa');
INSERT INTO Locations (SID, Stadium, City) VALUES (33, 'Stubhub Center', 'Carson');
INSERT INTO Locations (SID, Stadium, City) VALUES (34, 'Camping Wood Stadium', 'Orlando');
INSERT INTO Locations (SID, Stadium, City) VALUES (35, 'Estadio Azteca', 'Mexico City');
INSERT INTO Locations (SID, Stadium, City) VALUES (36, 'Tom Benson Hall of Fame Stadium', 'Canton');
INSERT INTO Locations (SID, Stadium, City) VALUES (37, 'Twickenham Stadium', 'London');
INSERT INTO Locations (SID, Stadium, City) VALUES (38, 'Wembley Stadium', 'London');

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [16]:
%%sql
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (1,"Brandon Allen","Arkansas");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (2,"Derek Anderson","Oregon State");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (3,"Matt Barkley","USC");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (4,"C.J. Beathard","Iowa");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (5,"Blake Bortles","UCF");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (6,"Sam Bradford","Oklahoma");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (7,"Tom Brady","Michigan");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (8,"Tyler Bray","Tennessee");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (9,"Drew Brees","Purdue");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (10,"Teddy Bridgewater","Louisville");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (11,"Jacoby Brissett","NC State");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (12,"Joe Callahan","Wesley College");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (13,"Derek Carr","Fresno State");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (14,"Matt Cassel","USC");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (15,"Kellen Clemens","Oregon");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (16,"Connor Cook","Michigan State");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (17,"Kirk Cousins","Michigan State");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (18,"Jay Cutler","Vanderbilt");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (19,"Andy Dalton","TCU");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (20,"Chase Daniel","Missouri");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (21,"Austin Davis","Southern Mississippi");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (22,"Joshua Dobbs","Tennessee");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (23,"Jeff Driskel","Louisiana Tech");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (24,"David Fales","San Jose State");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (25,"Ryan Fitzpatrick","Harvard");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (26,"Joe Flacco","Delaware");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (27,"Nick Foles","Arizona");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (28,"Blaine Gabbert","Missouri");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (29,"Jimmy Garoppolo","Eastern Illinois");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (30,"Garrett Gilbert","SMU");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (31,"Mike Glennon","NC State");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (32,"Jared Goff","California");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (33,"Ryan Griffin","Tulane");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (34,"Christian Hackenberg","Penn State");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (35,"Chad Henne","Michigan");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (36,"Taysom Hill","BYU");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (37,"Kevin Hogan","Stanford");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (38,"Brian Hoyer","Michigan State");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (39,"Brett Hundley","UCLA");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (40,"Case Keenum","Houston");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (41,"Cody Kessler","USC");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (42,"Paxton Lynch","Memphis");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (43,"Patrick Mahomes","Texas Tech");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (44,"Ryan Mallett","Arkansas");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (45,"EJ Manuel","Florida State");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (46,"Marcus Mariota","Oregon");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (47,"Colt McCoy","Texas");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (48,"Matt Moore","Oregon State");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (49,"Cam Newton","Auburn");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (50,"Brock Osweiler","Arizona State");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (51,"Carson Palmer","USC");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (52,"Nathan Peterman","Pittsburgh");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (53,"Bryce Petty","Baylor");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (54,"Dak Prescott","Mississippi State");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (55,"Philip Rivers","NC State");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (56,"Aaron Rodgers","California");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (57,"Ben Roethlisberger","Miami (OH)");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (58,"Jake Rudock","Michigan");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (59,"Cooper Rush","Central Michigan");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (60,"Matt Ryan","Boston College");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (61,"Mark Sanchez","USC");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (62,"Tom Savage","Pittsburgh");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (63,"Matt Schaub","Virginia");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (64,"Trevor Siemian","Northwestern");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (65,"Kyle Sloter","Northern Colorado");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (66,"Alex Smith","Utah");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (67,"Geno Smith","West Virginia");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (68,"Matthew Stafford","Georgia");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (69,"Drew Stanton","Michigan State");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (70,"Nate Sudfeld","Indiana");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (71,"Ryan Tannehill","Texas A&M");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (72,"Alex Tanney","Monmouth (IL)");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (73,"Tyrod Taylor","Virginia Tech");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (74,"Scott Tolzien","Wisconsin");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (75,"Mitchell Trubisky","North Carolina");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (76,"Deshaun Watson","Clemson");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (77,"Davis Webb","California");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (78,"Joe Webb","UAB");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (79,"Brandon Weeden","Oklahoma State");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (80,"Carson Wentz","North Dakota State");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (81,"Russell Wilson","Wisconsin");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (82,"Jameis Winston","Florida State");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (83," T.J. Yates","North Carolina");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (84,"Shaun Hill","Maryland");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (85,"Robert Griffin","Baylor");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (86,"Eli Manning","Ole Miss");
INSERT INTO QUARTERBACKS (QBID,QBName,College) Values (87,"Andrew Luck","Stanford");

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [17]:
%%sql
INSERT INTO GAMES (GameID,HTeamID,ATeamID,SID,Attendence) Values (1,25,22,9,76843);
INSERT INTO GAMES (GameID,HTeamID,ATeamID,SID,Attendence) Values (2,21,24,2,69382);
INSERT INTO GAMES (GameID,HTeamID,ATeamID,SID,Attendence) Values (3,4,10,19,78160);
INSERT INTO GAMES (GameID,HTeamID,ATeamID,SID,Attendence) Values (4,23,28,18,73028);
INSERT INTO GAMES (GameID,HTeamID,ATeamID,SID,Attendence) Values (5,26,27,14,73238);
INSERT INTO GAMES (GameID,HTeamID,ATeamID,SID,Attendence) Values (6,20,16,26,63816);
INSERT INTO GAMES (GameID,HTeamID,ATeamID,SID,Attendence) Values (7,7,11,21,69596);
INSERT INTO GAMES (GameID,HTeamID,ATeamID,SID,Attendence) Values (8,19,15,13,63179);
INSERT INTO GAMES (GameID,HTeamID,ATeamID,SID,Attendence) Values (9,9,1,3,71104);
INSERT INTO GAMES (GameID,HTeamID,ATeamID,SID,Attendence) Values (10,17,13,11,71933);
INSERT INTO GAMES (GameID,HTeamID,ATeamID,SID,Attendence) Values (11,32,2,25,69012);
INSERT INTO GAMES (GameID,HTeamID,ATeamID,SID,Attendence) Values (12,5,6,8,92867);
INSERT INTO GAMES (GameID,HTeamID,ATeamID,SID,Attendence) Values (13,18,14,12,65566);
INSERT INTO GAMES (GameID,HTeamID,ATeamID,SID,Attendence) Values (14,29,3,1,64865);
INSERT INTO GAMES (GameID,HTeamID,ATeamID,SID,Attendence) Values (15,8,12,27,79124);
INSERT INTO GAMES (GameID,HTeamID,ATeamID,SID,Attendence) Values (16,31,30,24,70178);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [18]:
%%sql
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (1,25,64,21,307,3,21);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (1,22,49,20,333,1,21);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (2,21,60,24,374,0,19);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (2,24,82,31,371,1,20);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (3,4,22,31,340,1,22);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (3,10,23,31,381,1,18);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (4,23,9,34,507,1,27);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (4,28,13,35,486,0,25);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (5,26,66,33,413,1,26);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (5,27,55,27,388,0,25);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (6,20,46,16,316,3,19);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (6,16,84,25,301,0,15);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (7,7,80,29,403,0,23);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (7,11,85,10,288,1,14);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (8,19,5,23,348,1,18);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (8,15,56,27,294,0,20);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (9,9,26,13,308,1,18);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (9,1,73,7,160,0,11);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (10,17,50,23,344,1,17);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (10,13,18,14,258,1,14);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (11,32,81,12,352,2,21);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (11,2,71,10,214,0,11);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (12,5,54,19,328,0,24);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (12,6,86,20,316,1,18);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (13,18,87,35,450,0,25);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (13,14,68,39,448,0,28);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (14,29,51,21,344,0,21);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (14,3,29,23,363,2,19);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (15,8,17,16,385,2,18);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (15,12,57,38,437,1,23);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (16,31,28,28,320,1,10);
INSERT INTO GAMESTATISTICS (GameID,TeamID,QBID,SCORE,Total_Yards,Turn_Overs,First_Downs) Values (16,30,40,0,185,2,28);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [19]:
%%sql
SELECT *
FROM TEAMS

Done.

[(1, 'Buffalo Bills', 'AFC', 'East'),
 (2, 'Miami Dolphins', 'AFC', 'East'),
 (3, 'New England Patriots', 'AFC', 'East'),
 (4, 'New York Jets', 'AFC', 'East'),
 (5, 'Dallas Cowboys', 'NFC', 'East'),
 (6, 'New York Giants', 'NFC', 'East'),
 (7, 'Philadelphia Eagles', 'NFC', 'East'),
 (8, 'Washington Redskins', 'NFC', 'East'),
 (9, 'Baltimore Ravens', 'AFC', 'North'),
 (10, 'Cincinnati Bengals', 'AFC', 'North'),
 (11, 'Cleveland Browns', 'AFC', 'North'),
 (12, 'Pittsburgh Steelers', 'AFC', 'North'),
 (13, 'Chicago Bears', 'NFC', 'North'),
 (14, 'Detroit Lions', 'NFC', 'North'),
 (15, 'Green Bay Packers', 'NFC', 'North'),
 (16, 'Minnesota Vikings', 'NFC', 'North'),
 (17, 'Houston Texans', 'AFC', 'South'),
 (18, 'Indianapolis Colts', 'AFC', 'South'),
 (19, 'Jacksonville Jaguars', 'AFC', 'South'),
 (20, 'Tennessee Titans', 'AFC', 'South'),
 (21, 'Atlanta Falcons', 'NFC', 'South'),
 (22, 'Carolina Panthers', 'NFC', 'South'),
 (23, 'New Orleans Saints', 'NFC', 'South'),
 (24, 'Tampa Bay Buccaneers', 'NFC', 'South'),
 (25, 'Denver Broncos', 'AFC', 'West'),
 (26, 'Kansas City Chiefs', 'AFC', 'West'),
 (27, 'Los Angeles Chargers', 'AFC', 'West'),
 (28, 'Oakland Raiders', 'AFC', 'West'),
 (29, 'Arizona Cardinals', 'NFC', 'West'),
 (30, 'Los Angeles Rams', 'NFC', 'West'),
 (31, 'San Francisco 49ers', 'NFC', 'West'),
 (32, 'Seattle Seahawks', 'NFC', 'West')]